.text-color li a{
    color: #00D160;
    margin: 0 20px;
}
.nav-head{
    font-weight: bolder;
}
.border{
    border: 2px solid #00D160 !important;
    border-radius: 50px;
}
.button a{
    /* position: absolute;
    left: 510px; */
}
.name{
    margin-top: 250px;
    /* margin-left: 0px; */
}
.input{
    padding-right: 120px !important;
    border: 0;
    /* border-radius: 50px; */
    outline: none;
}
